html {
    height: 100%;
}
body {
    height: 100%;
    background-image: url('./assets/images/background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}